* {
  margin: 1% 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Fredericka the Great", serif;
}

div {
  display: flex;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  max-height: 750px;
  border-radius: 10px;
}

input {
  text-align: center;
}